<div class="top-row ps-3 navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand text-wrap" href="">CHHA Plan_Of_Correction_Audit</a>
    </div>
</div>

<div class="nav-scrollable">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> Home
            </NavLink>
        </div>

@*         <div class="nav-item px-3">
            <NavLink class="nav-link" href="weather">
                <span class="bi bi-cloud-sun" aria-hidden="true"></span> Weather
            </NavLink>
        </div> *@

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/HHA_Chart_Reviews">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> HHA_Chart_Reviews
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Missed_Visit_Chart_Reviews">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Missed_Visit_Chart_Reviews
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Plan_Of_Care">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Plan_Of_Care
            </NavLink>
        </div>

        
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Rx_Rec_Chart_Reviews">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Rx_Rec_Chart_Reviews
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/TIOC_Chart_Reviews">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> TIOC_Chart_Reviews
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/Wound_Care_Chart_Reviews">
                <span class="bi bi-file-earmark-plus" aria-hidden="true"></span> Wound_Care_Chart_Reviews
            </NavLink>
        </div>
       

    </nav>
</div>
