@page "/"
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Home</PageTitle>

<!-- Add the Image here -->
<img src="images/CommunityCareLogo.png" alt="Community Care Logo" class="img-fluid" />


<h1>New and Improved Data Collection !</h1>


