@page "/Missed_Visit_Chart_Reviews/create"
@using Microsoft.EntityFrameworkCore
@using CHHA_PlanOfCorrectinAudit.Models
@using CHHA_PlanOfCorrectinAudit.ViewModel
@inject IDbContextFactory<CHHA_PlanOfCorrectionAudit.Data.CHHA_PlanOfCorrectionAuditContext> DbFactory
@inject NavigationManager NavigationManager
@inject IHttpContextAccessor HttpContextAccessor

<PageTitle>Create Missed Visit Chart Review</PageTitle>

<h1>Create Missed Visit Chart Review</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <EditForm method="post" Model="formModel_mv" OnValidSubmit="AddFormData" FormName="create">

            @* <!-- Form Fields --> *@

            <div class="mb-3">
                <label for="Patient_MRN" class="form-label">Patient MRN:</label>
                <InputText id="Patient_MRN" @bind-Value="formModel_mv.Patient_MRN" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Patient_MRN" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Patient_Name" class="form-label">Patient Name:</label>
                <InputText id="Patient_Name" @bind-Value="formModel_mv.Patient_Name" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Patient_Name" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Patient_Status" class="form-label">Patient Status:</label>
                <InputText id="Patient_Status" @bind-Value="formModel_mv.Patient_Status" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Patient_Status" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Program" class="form-label">Program:</label>
                <InputText id="Program" @bind-Value="formModel_mv.Program" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Program" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Borough_of_Care" class="form-label">Borough of Care:</label>
                <InputText id="Borough_of_Care" @bind-Value="formModel_mv.Borough_of_Care" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Borough_of_Care" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Start_of_Care_Date" class="form-label">Start of Care Date:</label>
                <InputDate @bind-Value="formModel_mv.Start_of_Care_Date" id="Start_of_Care_Date" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Start_of_Care_Date" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Financial_Class" class="form-label">Financial Class:</label>
                <InputText id="Financial_Class" @bind-Value="formModel_mv.Financial_Class" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Financial_Class" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Payer" class="form-label">Payer:</label>
                <InputText id="Payer" @bind-Value="formModel_mv.Payer" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Payer" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Category" class="form-label">Category:</label>
                <InputText id="Category" @bind-Value="formModel_mv.Category" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Category" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Assigned_Reviewer" class="form-label">Assigned Reviewer:</label>
                <InputText id="Assigned_Reviewer" @bind-Value="formModel_mv.Assigned_Reviewer" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Assigned_Reviewer" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Date_Assigned" class="form-label">Date Assigned:</label>
                <InputDate @bind-Value="formModel_mv.Date_Assigned" id="Date_Assigned" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Date_Assigned" class="text-danger" />
            </div>



            @* Response Fields: *@


            <div class="mb-3">
                <label for="DateOfReview" class="form-label">Date of Review:</label>
                <InputDate id="DateOfReview" @bind-Value="formModel_mv.DateOfReview" class="form-control" />
                <ValidationMessage For="() => formModel_mv.DateOfReview" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Total_SN_Visits_Ordered" class="form-label">Total # Skilled Nursing (SN) Visits Ordered:</label>
                <InputNumber id="Total_SN_Visits_Ordered" @bind-Value="formModel_mv.Total_SN_Visits_Ordered" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Total_SN_Visits_Ordered" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Missed_SN_Visits" class="form-label"># of Missed Skilled Nursing (SN) Visits:</label>
                <InputNumber id="Missed_SN_Visits" @bind-Value="formModel_mv.Missed_SN_Visits" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Missed_SN_Visits" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Missed_SN_Visit_Documentation" class="form-label"># Instances of Missed SN Visit with Detailed Documentation (Reason):</label>
                <InputNumber id="Instances_Missed_SN_Visit_Documentation" @bind-Value="formModel_mv.Instances_Missed_SN_Visit_Documentation" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Missed_SN_Visit_Documentation" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Provider_Notification_Missed_SN" class="form-label"># of Instances of Provider Notification of Missed SN Visit(s):</label>
                <InputNumber id="Instances_Provider_Notification_Missed_SN" @bind-Value="formModel_mv.Instances_Provider_Notification_Missed_SN" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Provider_Notification_Missed_SN" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Total_PT_Visits_Ordered" class="form-label">Total # Physical Therapy (PT) Visits Ordered:</label>
                <InputNumber id="Total_PT_Visits_Ordered" @bind-Value="formModel_mv.Total_PT_Visits_Ordered" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Total_PT_Visits_Ordered" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Missed_PT_Visits" class="form-label"># of Missed PT Visits:</label>
                <InputNumber id="Missed_PT_Visits" @bind-Value="formModel_mv.Missed_PT_Visits" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Missed_PT_Visits" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Missed_PT_Visit_Documentation" class="form-label"># Instances of Missed PT Visit with Detailed Documentation (Reason):</label>
                <InputNumber id="Instances_Missed_PT_Visit_Documentation" @bind-Value="formModel_mv.Instances_Missed_PT_Visit_Documentation" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Missed_PT_Visit_Documentation" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Provider_Notification_Missed_PT" class="form-label"># of Instances of Provider Notification of Missed PT Visit(s):</label>
                <InputNumber id="Instances_Provider_Notification_Missed_PT" @bind-Value="formModel_mv.Instances_Provider_Notification_Missed_PT" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Provider_Notification_Missed_PT" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Total_OT_Visits_Ordered" class="form-label">Total # Occupational Therapy (OT) Visits Ordered:</label>
                <InputNumber id="Total_OT_Visits_Ordered" @bind-Value="formModel_mv.Total_OT_Visits_Ordered" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Total_OT_Visits_Ordered" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Missed_OT_Visits" class="form-label"># of Missed OT Visits:</label>
                <InputNumber id="Missed_OT_Visits" @bind-Value="formModel_mv.Missed_OT_Visits" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Missed_OT_Visits" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Missed_OT_Visit_Documentation" class="form-label"># Instances of Missed OT Visit with Detailed Documentation (Reason):</label>
                <InputNumber id="Instances_Missed_OT_Visit_Documentation" @bind-Value="formModel_mv.Instances_Missed_OT_Visit_Documentation" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Missed_OT_Visit_Documentation" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Provider_Notification_Missed_OT" class="form-label"># of Instances of Provider Notification of Missed OT Visit(s):</label>
                <InputNumber id="Instances_Provider_Notification_Missed_OT" @bind-Value="formModel_mv.Instances_Provider_Notification_Missed_OT" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Provider_Notification_Missed_OT" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Total_SW_Visits_Ordered" class="form-label">Total # Social Work (SW) Visits Ordered:</label>
                <InputNumber id="Total_SW_Visits_Ordered" @bind-Value="formModel_mv.Total_SW_Visits_Ordered" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Total_SW_Visits_Ordered" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Missed_SW_Visits" class="form-label"># of Missed SW Visits:</label>
                <InputNumber id="Missed_SW_Visits" @bind-Value="formModel_mv.Missed_SW_Visits" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Missed_SW_Visits" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Missed_SW_Visit_Documentation" class="form-label"># Instances of Missed SW Visit with Detailed Documentation (Reason):</label>
                <InputNumber id="Instances_Missed_SW_Visit_Documentation" @bind-Value="formModel_mv.Instances_Missed_SW_Visit_Documentation" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Missed_SW_Visit_Documentation" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Provider_Notification_Missed_SW" class="form-label"># of Instances of Provider Notification of Missed SW Visit(s):</label>
                <InputNumber id="Instances_Provider_Notification_Missed_SW" @bind-Value="formModel_mv.Instances_Provider_Notification_Missed_SW" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Provider_Notification_Missed_SW" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Missed_HHA_Visits" class="form-label"># of Missed Home Health Aide (HHA) Visits:</label>
                <InputNumber id="Missed_HHA_Visits" @bind-Value="formModel_mv.Missed_HHA_Visits" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Missed_HHA_Visits" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Missed_HHA_Visits_Count" class="form-label"># of Missed HHA Visits:</label>
                <InputNumber id="Missed_HHA_Visits_Count" @bind-Value="formModel_mv.Missed_HHA_Visits_Count" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Missed_HHA_Visits_Count" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Missed_HHA_Visit_Documentation" class="form-label"># Instances of Missed HHA Visit with Detailed Documentation (Reason):</label>
                <InputNumber id="Instances_Missed_HHA_Visit_Documentation" @bind-Value="formModel_mv.Instances_Missed_HHA_Visit_Documentation" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Missed_HHA_Visit_Documentation" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Instances_Provider_Notification_Missed_HHA" class="form-label"># of Instances of Provider Notification of Missed HHA Visit(s):</label>
                <InputNumber id="Instances_Provider_Notification_Missed_HHA" @bind-Value="formModel_mv.Instances_Provider_Notification_Missed_HHA" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Instances_Provider_Notification_Missed_HHA" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Case_Closure_Date" class="form-label">Case Closure Date:</label>
                <InputDate id="Case_Closure_Date" @bind-Value="formModel_mv.Case_Closure_Date" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Case_Closure_Date" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Chart_Review_Status" class="form-label">Chart Review Status:</label>
                <InputText id="Chart_Review_Status" @bind-Value="formModel_mv.Chart_Review_Status" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Chart_Review_Status" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Chart_Review_Outcome" class="form-label">Chart Review Outcome:</label>
                <InputText id="Chart_Review_Outcome" @bind-Value="formModel_mv.Chart_Review_Outcome" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Chart_Review_Outcome" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Responsible_Clinician_Staff" class="form-label">Responsible Clinician(s) or Staff:</label>
                <InputText id="Responsible_Clinician_Staff" @bind-Value="formModel_mv.Responsible_Clinician_Staff" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Responsible_Clinician_Staff" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Staff_Last_Name" class="form-label">Staff Last Name (formula):</label>
                <InputText id="Staff_Last_Name" @bind-Value="formModel_mv.Staff_Last_Name" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Staff_Last_Name" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Responsible_Director" class="form-label">Responsible Director:</label>
                <InputText id="Responsible_Director" @bind-Value="formModel_mv.Responsible_Director" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Responsible_Director" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Date_of_Escalation_to_Director" class="form-label">Date of Escalation to Director:</label>
                <InputDate id="Date_of_Escalation_to_Director" @bind-Value="formModel_mv.Date_of_Escalation_to_Director" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Date_of_Escalation_to_Director" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Notes" class="form-label">Notes:</label>
                <InputTextArea id="Notes" @bind-Value="formModel_mv.Notes" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Notes" class="text-danger" />
            </div>

            <div class="mb-3">
                <label for="Corrected_Staff_Name" class="form-label">Corrected Staff Name:</label>
                <InputText id="Corrected_Staff_Name" @bind-Value="formModel_mv.Corrected_Staff_Name" class="form-control" />
                <ValidationMessage For="() => formModel_mv.Corrected_Staff_Name" class="text-danger" />
            </div>




            <button type="submit" class="btn btn-primary">Submit</button>
        </EditForm>
    </div>
</div>

<div>
    <a href="/metadata">Back to List</a>
</div>

@code {
    [SupplyParameterFromForm]
    private FormInputModel_MissedVisit formModel_mv { get; set; } = new();

    protected override void OnInitialized() {
        Console.WriteLine("✅ THIS IS A TEST Console.WriteLine OUTPUT for form3");
        formModel_mv.FormName = "Missed Visit Chart Reviews";
 
        // Key can be calculated or left empty as you use it in your logic
        formModel_mv.Key = $"{formModel_mv.Patient_MRN}_{formModel_mv.FormName}_{formModel_mv.Date_Assigned?.ToString("yyyy-MM-dd")}";


    }

    private CHHA_Quality_POC_Responses CreateResponse(string question, string? response, CHHA_Quality_POC_Metadata metadata, Guid recordId, string username) {
        return new CHHA_Quality_POC_Responses {
                Patient_MRN = formModel_mv.Patient_MRN,
                Date_Assigned = formModel_mv.Date_Assigned,
                Question = question,
                Response = response,
                MetadataId = metadata.Id,
                Form = formModel_mv.FormName,
                Key = $"{formModel_mv.Patient_MRN}_{formModel_mv.FormName}_{formModel_mv.Date_Assigned?.ToString("yyyy-MM-dd")}",
                CreatedBy = username,
                CreatedDate = DateTime.UtcNow,
                LastUpdatedBy = username,
                LastUpdated = DateTime.UtcNow,
                OriginalRecordId = recordId,
                RecordId = recordId,
                IsCurrentVersion = true
            };
    }

    // private void AddFormData() {
    private async Task AddFormData() {

        Console.WriteLine("Form submission started");

        var username = HttpContextAccessor.HttpContext?.User?.Identity?.Name ?? "UnknownUser";
        var newRecordId = Guid.NewGuid();

        using var context = DbFactory.CreateDbContext();

        var metadata = await context.CHHA_Quality_POC_Metadata
            .FirstOrDefaultAsync(m => m.Patient_MRN == formModel_mv.Patient_MRN);



        if (metadata == null) {
            metadata = new CHHA_Quality_POC_Metadata {
                    Patient_MRN = formModel_mv.Patient_MRN,
                    Patient_Name = formModel_mv.Patient_Name,
                    Patient_Status = formModel_mv.Patient_Status,
                    Program = formModel_mv.Program,
                    Borough_of_Care = formModel_mv.Borough_of_Care,
                    Start_of_Care_Date = formModel_mv.Start_of_Care_Date,
                    Financial_Class = formModel_mv.Financial_Class,
                    Payer = formModel_mv.Payer,
                    Category = formModel_mv.Category,
                    Assigned_Reviewer = formModel_mv.Assigned_Reviewer,
                    Date_Assigned = formModel_mv.Date_Assigned,
                    Form = formModel_mv.FormName,
                    Key = $"{formModel_mv.Patient_MRN}_{formModel_mv.FormName}_{formModel_mv.Date_Assigned?.ToString("yyyy-MM-dd")}",

                    // Audit fields here:
                    CreatedBy = username,
                    CreatedDate = DateTime.UtcNow,
                    LastUpdatedBy = username,
                    LastUpdated = DateTime.UtcNow,
                    OriginalRecordId = newRecordId,
                    RecordId = newRecordId,
                    IsCurrentVersion = true

                };

            context.CHHA_Quality_POC_Metadata.Add(metadata);
            await context.SaveChangesAsync();
        }

        var responses = new List<CHHA_Quality_POC_Responses>{
            CreateResponse("DateOfReview", formModel_mv.DateOfReview?.ToString("yyyy-MM-dd"), metadata, newRecordId, username),

            CreateResponse("Total_SN_Visits_Ordered", formModel_mv.Total_SN_Visits_Ordered?.ToString(), metadata, newRecordId, username),
            CreateResponse("Missed_SN_Visits", formModel_mv.Missed_SN_Visits?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Missed_SN_Visit_Documentation", formModel_mv.Instances_Missed_SN_Visit_Documentation?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Provider_Notification_Missed_SN", formModel_mv.Instances_Provider_Notification_Missed_SN?.ToString(), metadata, newRecordId, username),

            CreateResponse("Total_PT_Visits_Ordered", formModel_mv.Total_PT_Visits_Ordered?.ToString(), metadata, newRecordId, username),
            CreateResponse("Missed_PT_Visits", formModel_mv.Missed_PT_Visits?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Missed_PT_Visit_Documentation", formModel_mv.Instances_Missed_PT_Visit_Documentation?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Provider_Notification_Missed_PT", formModel_mv.Instances_Provider_Notification_Missed_PT?.ToString(), metadata, newRecordId, username),

            CreateResponse("Total_OT_Visits_Ordered", formModel_mv.Total_OT_Visits_Ordered?.ToString(), metadata, newRecordId, username),
            CreateResponse("Missed_OT_Visits", formModel_mv.Missed_OT_Visits?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Missed_OT_Visit_Documentation", formModel_mv.Instances_Missed_OT_Visit_Documentation?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Provider_Notification_Missed_OT", formModel_mv.Instances_Provider_Notification_Missed_OT?.ToString(), metadata, newRecordId, username),

            CreateResponse("Total_SW_Visits_Ordered", formModel_mv.Total_SW_Visits_Ordered?.ToString(), metadata, newRecordId, username),
            CreateResponse("Missed_SW_Visits", formModel_mv.Missed_SW_Visits?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Missed_SW_Visit_Documentation", formModel_mv.Instances_Missed_SW_Visit_Documentation?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Provider_Notification_Missed_SW", formModel_mv.Instances_Provider_Notification_Missed_SW?.ToString(), metadata, newRecordId, username),

            CreateResponse("Missed_HHA_Visits", formModel_mv.Missed_HHA_Visits?.ToString(), metadata, newRecordId, username),
            CreateResponse("Missed_HHA_Visits_Count", formModel_mv.Missed_HHA_Visits_Count?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Missed_HHA_Visit_Documentation", formModel_mv.Instances_Missed_HHA_Visit_Documentation?.ToString(), metadata, newRecordId, username),
            CreateResponse("Instances_Provider_Notification_Missed_HHA", formModel_mv.Instances_Provider_Notification_Missed_HHA?.ToString(), metadata, newRecordId, username),

            CreateResponse("Case_Closure_Date", formModel_mv.Case_Closure_Date?.ToString("yyyy-MM-dd"), metadata, newRecordId, username),
            CreateResponse("Chart_Review_Status", formModel_mv.Chart_Review_Status, metadata, newRecordId, username),
            CreateResponse("Chart_Review_Outcome", formModel_mv.Chart_Review_Outcome, metadata, newRecordId, username),
            CreateResponse("Responsible_Clinician_Staff", formModel_mv.Responsible_Clinician_Staff, metadata, newRecordId, username),
            CreateResponse("Staff_Last_Name", formModel_mv.Staff_Last_Name, metadata, newRecordId, username),
            CreateResponse("Responsible_Director", formModel_mv.Responsible_Director, metadata, newRecordId, username),
            CreateResponse("Date_of_Escalation_to_Director", formModel_mv.Date_of_Escalation_to_Director?.ToString("yyyy-MM-dd"), metadata, newRecordId, username),
            CreateResponse("Notes", formModel_mv.Notes, metadata, newRecordId, username),
            CreateResponse("Corrected_Staff_Name", formModel_mv.Corrected_Staff_Name, metadata, newRecordId, username)


        };

        context.CHHA_Quality_POC_Responses.AddRange(responses);
        await context.SaveChangesAsync();

        Console.WriteLine("Form submission successful");

        NavigationManager.NavigateTo("/");

    }
}
